.products{
    .product-card{
        border: 1px solid #ddd;
        overflow: hidden;
        border-radius: 5px;
        .text{
            padding: 10px;
            padding-top: 0;
            h5{
                height: 40px;
            }
        }
        .rate{
            margin-bottom: 5px;
            svg{
                color: #ffa651;
            }
        }
        img{
        width: 80%;
        height: 150px;
        margin-left: 10%;
        object-fit: contain;
        transition: 0.5s;
        &:hover{
            transform: scale(1.1);
        }
    }
    }
    
}